<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to Glitch!</title>
    <meta name="description" content="Dots and Dashes for the Masses">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  </head>
  <body>
    <h1>
      Dots and Dashes Trial
    </h1>
    <a href="/paper"><h2>
        Paper.js
      </h2></a>
    <a href="/phaser"><h2>
      Phaser.js
    </h2></a>
    <a href="/pixi"><h2>
      Pixi.js
    </h2></a>
    <a href="/dom"><h2>
      DOM Model
      </h2>
    </a>
  </body>
</html>
