#joinDiv {
  z-index: 2;
}

#gamespace {
  z-index: 0;

  border: 1em;
  border-color: blueviolet;
  border-style: solid;
  padding: 1em;

  font-family: monospace;
  font-size: 20px;
  font-style: normal;
  font-variant: normal;
  line-height: 14px;

  cursor: pointer;
  white-space: nowrap;
}

main {
  position: absolute;
  top: 50%;
  display: block;
  left: 50%;
  transform: translate(-50%, -50%);
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                        supported by Chrome and Opera */
}

.dot:hover {
  color: red;
}

.invisibleLine:hover {
  opacity: 1;
  font-weight: 900;
}

.invisibleLine {
  opacity: 0;
  font-weight: 900;
}

.boxFill {
  background-color: blue;
}
